/*
Theme Name: Travel Lite
Theme URI: http://d5creation.com/theme/travel/

Author: D5 Creation
Author URI: http://d5creation.com/

Description: Travel is a Super Elegant and Professional Responsive Theme. This Theme is ideal for Travel Agencies, Hotels, Tour Operators, Airlines, Photographic Agencies, Environmental Organizations, Tourist Spot Presentation, Tourism Promotion, Photography and Other Purposes that may match with your thoughts.  A demo of Travel Theme can be found here: http://demo.d5creation.com/themes/?theme=Travel

Version: 2.1

Tags: two-columns, right-sidebar, custom-header, custom-background, custom-menu, threaded-comments, sticky-post, rtl-language-support, full-width-template, theme-options, featured-images, footer-widgets, translation-ready, e-commerce, entertainment, food-and-drink, holiday, portfolio  

License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

Travel WordPress Theme, Copyright 2012-2015: D5 Creation (www.d5creation.com)

Text Domain: travel-lite

*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}

body {
	line-height: 1;
}

ol, 
ul {
	list-style: none;
}

table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
	content: "";
}

blockquote, 
q {
	quotes: "" "";
}

a img {
	border: 0;
}

article, 
aside, 
details, 
figcaption, 
figure,
footer, 
header, 
hgroup, 
nav, 
section {
	display: block;
}

menu{
	display:none;
}


/* =WordPress Core and Addition
-------------------------------------------------------------- */
.alignnone,
#content .alignnone,
#content-full .alignnone,
div .alignnone  {
    margin: 5px 20px 20px 0;
}

.aligncenter,
#content .aligncenter, 
#content-full .aligncenter,
div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}

.alignright,
#content .alignright,
#content-full .alignright,
div .alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft,
#content .alignleft,
#content-full .alignleft,
div .alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}

/* =Structure
----------------------------------------------- */

body {
	font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.6;
	word-wrap: break-word;
	background: url("images/background.jpg") no-repeat scroll left top #E4E8E9;
	background: url("images/background.jpg") no-repeat scroll left top / 100% auto #E4E8E9;
	color: #525253;
	min-width: 1020px;
	width: 1020px
	text-shadow: 0 1px 0 #FFFFFF;
}


img {
	max-width: 100%;
	border: 0 none;
}

#container {
    background: #E4E8E9;
    border-radius: 10px;
    margin: 20px auto 10px;
    overflow: hidden;
    padding: 20px;
    width: 950px;

	
}

#top-menu-container {
	height: 30px;
    margin: 0 auto;
    padding: 10px 0 0;
    width: 950px;
	z-index: 11;
	position: relative;
	display:none;
}

#top-menu-container #searchform {
	float: right;
	display:none;
}

#top-menu-container input#s {
	border-radius: 5px 0 0 5px;
    color: black;
    padding: 5px 10px;
    width: 135px;
	float: right;
	height: 17px;
	display:none;
}


#top-menu-container #searchform input[type="submit"] {
	background: url("images/search.png") no-repeat scroll 70% 50% #333333;
    border: medium none;
    border-radius: 0 5px 5px 0;
    box-shadow: none;
    height: 29px;
    text-indent: -9999em;
    width: 30px;
	float: right;
}

#header {
	min-height: 75px;
	min-width: 950px;
	z-index: 4;
	position: relative;
}

img.site-logo, h1.site-title {
	display: block;
    float: left;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    max-height: 80px;
    max-width: 300px;
    word-wrap: normal;
	color: #EEEEEE;
}

#header-content {
    margin: 0 auto;
    min-height: 75px;
    width: 950px;
}

.site-title-hidden {
	display: none;
}

#content {
	float:left;
    width: 620px;
}

#content-full {
	width: 950px;
}

.content-ver-sep {
	clear: both;
    height: 1px;
	background: #CCCCCC;
	border-bottom: 1px solid #FFFFFF;
}

.fwtsep { display: none; margin-bottom: 10px; }

.sep3 {
	background: url("images/sep3.png") no-repeat scroll 0 0 transparent;
    text-indent: -9999em;
	clear:both;
}

.sep2 {
	background: url("images/sep2.png") repeat-x scroll 0 0 transparent;
    text-indent: -9999em;
	clear:both;
	height: 10px;
}

.sep0 {
	background: url("images/sep0.png") repeat-x scroll 0 0 transparent;
    text-indent: -9999em;
	clear:both;
}

.pagenev {
	background: url("images/fbcback.png") repeat scroll 0 0 #CCCCCC;
	clear: both;
}

.conwidth {
	color: #555555;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin: 10px auto;
    padding: 10px 0;
    width: 950px;	
}

.conwidth a {
	background: url("images/rarrow.png") no-repeat scroll right center transparent;
    margin: 0 10px 0 0;
    padding: 0 20px 0 0;
}

#right-sidebar {
	float: right;
	width: 300px;
}

#footer {
	clear: both;
    font-size: 12px;
	min-width: 1020px;
	background: url("images/fbcback.png") repeat scroll 0 0 #CCCCCC;
}

#social {
	display: table;
    float: right;
    height: 20px;
    margin-right: 20px;
}

.facebook-link {
	background: url("images/fbicon.png") no-repeat scroll center 50% transparent;
}

.twitter-link {
	background: url("images/twittericon.png") no-repeat scroll center 50% transparent;
    
}

.gplus-link {
	background: url("images/gicon.png") no-repeat scroll center 50% transparent;
    
}

.con-link {
	background: url("images/conicon.png") no-repeat scroll center 50% transparent;
    
}


.facebook-link, 
.twitter-link, 
.gplus-link, 
.con-link {
	border: 1px solid #555555;
    border-radius: 20px 20px 20px 20px;
    float: left;
    height: 20px;
    margin: 2px 5px;
	opacity: .9;
    padding: 3px;
    width: 20px;
	transition: all 2s;
	-moz-transition:  all 2s;    /* FF3.7+ */  
	-o-transition: all 2s;      /* Opera 10.5 */ 
	-webkit-transition: all 2s; /* Saf3.2+, Chrome */ 
}

.facebook-link:hover, 
.twitter-link:hover, 
.gplus-link:hover, 
.con-link:hover {
	border: 1px solid #EEEEEE;
	opacity: 1;
}

#footer-sidebar {
	margin: 0 auto;
    overflow: hidden;
    padding: 20px 0 0;
    width: 990px;
}

#creditline {
    font-size: 13px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: 990px;
}

#creditline a {
	font-weight: bold;
}

/* Common Elements 
------------------------------------------------------------- */
ol, 
ul {
	padding: 0 0 10px 10px;
	display: block;
	margin-bottom: 10px;
}

ul {
	list-style: square inside none;
}

ol {
	list-style: decimal inside none;
}

strong {
	font-weight: bold;	
}

dl {
	margin: 0 0 24px 0;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 18px;
}

strong {
	font-weight: bold;
}

cite,
em,
i {
	font-style: italic;
}

big {
	font-size: 131.25%;
}

ins {
	background: #CEE8F0;
	text-decoration: none;
}

blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}

pre {
	background:#FFFFFF;
    border-radius: 5px 5px 5px 5px;
    color: #222222;
    line-height: 18px;
    margin-bottom: 18px;
    overflow: auto;
    padding: 1.5em;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
	font-size: 70%;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

address {
	background: #EEEEEE;
    border: 2px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 15px;
    max-width: 250px;
    padding: 5px 10px;
    text-align: right;
}

embed  {
	max-width: 100%;	
}

/* Menu Elements 
------------------------------------------------------------- */

#travel-main-menu {
    float: right;
    font-family:'Oswald',Impact,Helvetica,sans-serif;
    line-height: 1;
	max-width: 640px;
	display: block;
	margin: 20px 0 20px 10px;
	list-style: none;  
	background: #111;
	background: -moz-linear-gradient(#444, #111); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));	
	background: -webkit-linear-gradient(#444, #111);	
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#travel-main-menu .menu  {
	float: right;
}

#travel-main-menu ul {
    list-style: none outside none;
	padding: 0;
	margin: 0;
}

#travel-main-menu li {
    float: left;
    position: relative;
	margin: 5px 3px 0;
}


#travel-main-menu a {
    color: #999;
    display: block;
    font-size: 14px;
    min-width: 40px;
    padding: 10px 10px 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
 	text-shadow: 1px 1px 1px #000000;
	-webkit-transition: all 1s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	-ms-transition: all 2s;
	transition: all 2s;
}

#travel-main-menu a:hover {
	color: #fafafa;
}

#travel-main-menu .current-menu-item > a,
#travel-main-menu .current-menu-ancestor > a,
#travel-main-menu .current_page_item > a,
#travel-main-menu .current_page_ancestor > a  {
	color: #fafafa;
}

#travel-main-menu li ul {
    float: left;
    position: relative;
	margin: 0;
}

#travel-main-menu ul ul, 
.sub-menu, .sub-menu ul ul {
    display: none;
    position: absolute;
	z-index: 10000;
	width: 200px;
	font-family: 'Lato',Helvetica,sans-serif;
	background: #0EB0CD;
	background: rgba(14, 176, 205, .7);
    box-shadow: 0 0 5px 0 #000000;
	border-radius: 0 0 10px 10px;
    float: left;
    left: 0;
}

#travel-main-menu ul li ul li {
	margin:0;
	border-bottom: 1px solid #006193;
    border-top: 1px solid #4FBFF9;
	width: 200px;
}

#travel-main-menu ul li ul li:last-child {
	border-radius: 0 0 10px 10px;
}


#travel-main-menu ul li ul li:hover {
	background-color: #0292CE;
	transition: all 1s ease;
}

#travel-main-menu ul ul ul {
    left: 100%;
    top: 0;
	z-index: 999;
}

#travel-main-menu ul ul a  {
    padding: 10px 10px;
    text-align: left;
	text-transform: none;
	margin: 0;
	border-radius: 0;
	font-size: 14px;
    color: #eae9e9;
	text-shadow: 1px 1px 1px #AAAAAA;;
}

#travel-main-menu ul ul a:hover {
	padding-left:20px;
	-webkit-transition: all 1s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	-ms-transition: all 2s;
	transition: all 2s;
}


#travel-main-menu ul li:hover > ul {
	display: block;
	margin-top: -1px;
}

#travel-main-menu ul .menu-parent-item { background:url("images/listiconfb.png") no-repeat scroll right 15px / 7px 9px transparent; padding:0 3px; }
#travel-main-menu ul ul .menu-parent-item { background:url("images/listiconf.png") no-repeat scroll right center/7px 9px transparent; padding:0; }



/* Wedget Elements 
------------------------------------------------------------- */
.widget {
	display: block;
	word-wrap: break-word;
}

.widget h3 {
	color: #00ACCF;
}

.widget ul,
.widget ol {
	padding: 0;
}

#right-sidebar .widget {
	float: right;
    margin-bottom: 20px;
    padding: 10px;
    width: 250px;
	border-color: #FFFFFF #C9C9C9 #C9C9C9 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    position: relative;
	background: #eceded;
	
}

#right-sidebar .widget, 
#right-sidebar .widget li, 
#right-sidebar .widget a, 
#right-sidebar .widget a:hover {
	text-decoration: none;
	color:#555555;
} 

#right-sidebar .widget li {
	list-style: none outside none;
    padding: 5px 0 5px 17px;
	background: url("images/listiconf.gif") no-repeat scroll 0 10px transparent;
}


#footer-sidebar .widget {
	width:225px;
	margin-bottom: 15px;
}

#footer-sidebar #first-footer-widget {
	float:left;
}

#footer-sidebar #footer-widgets {
	margin-left: 30px;
	float:left;
}

#footer-sidebar .widget h3 {
	padding-bottom: 5px;
    text-transform: uppercase;
}

#footer-sidebar .widget, 
#footer-sidebar .widget li, 
#footer-sidebar .widget a, 
#footer-sidebar .widget a:hover {
	color: #333333;
    text-decoration: none;
} 

#footer-sidebar .widget ul,
 #footer-sidebar .widget ol{
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #AAAAAA;
}

#footer-sidebar .widget li {
	background: url("images/listicon.gif") no-repeat scroll 0 7px transparent;
    border-bottom: 1px solid #AAAAAA;
    border-top: 1px solid #EEEEEE;
    list-style: none outside none;
    padding: 3px 0 3px 17px;
}

#right-sidebar input#s, 
#footer-sidebar input#s {
    width: 50%;
	min-width: 100px;	
}

.textwedget {
	width: 100%;		
}

/* Travel Elements 
------------------------------------------------------------- */
h1, h2, h2 a, h2 a:visited, h3, h4, h5, h6 {
	font-family: 'Oswald',Impact,Helvetica,sans-serif;
    font-weight: normal;
    line-height: 1.25;
    margin: 0 0 10px;
	color:#333333;
}

h1 {
	font-size: 30px;	
}

h2 {
	font-size: 23px;	
}

h3 {
	font-size: 20px;	
}

h4 {
	font-size: 17px;	
}

h5 {
	font-size: 15px;	
}

h6 {
	font-size: 13px;	
}

p {
	margin-bottom: 15px;
}

a {
	text-decoration:none;
	color: #00ACCF;	
}

b, strong {
	font-weight: bold;
}
displaynone {
	display: none;
}

.clear {
	clear: both;
}

table {
	border-radius: 3px 3px 3px 3px;
    padding: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	min-width: 200px;
	margin-bottom: 15px;
	max-width: 100%;
}

td {
	padding: 5px 7px;
	vertical-align: top;
}

#wp-calendar td {
	padding: 0px 7px;
}

th {
	font-weight: bold;
    line-height: 1;
    padding: 5px 7px;
}

table#wp-calendar {
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    width: 100%;	
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"],
#respond .form-submit input#submit,
#wp-submit {
	background:#00ACCF;
	background: -moz-linear-gradient( top, #00adcf 0%, #00adcf 50%, #00c7ef 65%, #00c7ef);
	background: -webkit-gradient( linear, left top, left bottom, from(#00adcf), color-stop(0.50, #00adcf), color-stop(0.65, #00c7ef), to(#00c7ef));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ACCF', endColorstr='#00C7EF');
	border-radius: 10px;
	display:inline-block;
	color:#000000;
	font-size:15px;
	text-decoration:none;
	text-align:center;
	cursor: pointer;
	padding: 7px 10px;
	text-shadow:1px 1px 1px #FFFFFF;
	border: 1px solid #EEEEEE;
	transition:all 2s;
	-moz-transition: all 2s;  
	-o-transition: all 2s;   
	-webkit-transition: all 2s;
}

button:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
#respond .form-submit input#submit:hover,
#wp-submit:hover {
	background:#00c7ef;
	background: -moz-linear-gradient( bottom, #00adcf 0%, #00adcf 50%, #00c7ef 65%, #00c7ef);
	background: -webkit-gradient( linear, right bottom, right top, from(#00adcf), color-stop(0.50, #00adcf), color-stop(0.65, #00c7ef), to(#00c7ef));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00C7EF', endColorstr='#00ACCF');
}

input[type="text"], 
textarea, input#s, 
input[type="password"],
textarea#comment, select {
   	border-radius: 10px;
    font-size: 14px;
    padding: 7px 7px;
    width: 98%;
	background: #EDEDED;
    border-color: #999999 #FFFFFF #FFFFFF #999999;
    border-style: solid;
    border-width: 1px;
}

input[type="text"]:focus, 
textarea, input#s:focus, 
input[type="password"]:focus,
textarea#comment:focus {
   	background: none repeat scroll 0 0 #F7F7F7;
}

input[type="password"] {
    width: 200px;
}

button:active, 
input[type="reset"]:active, 
input[type="button"]:active, 
input[type="submit"]:active {
	position:relative;
	top:1px;
}


input#s {
    width: 70%;
	min-width: 135px;
}

.post.sticky, 
.sticky {
	background: url("images/sticky.png") no-repeat scroll right top transparent;
}

.page-link {
	font-weight: bold;
	margin: 5px 0;
}

.page-link a{
	background: #00ACCF;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 5px 9px;
	text-shadow:none;
}

.gallery-caption {
	clear: both;
	width:95%;
}

#container .gallery .attachment-thumbnail {
    float:none;
	margin: 5px auto;
}

#container, 
#content, 
#content-full {
	font-size: 14px;
    text-align: justify;
	z-index: 3;
	position: relative;
}

.vspace {
	height: 350px;
}

#content img, 
#content-full img {
	height: auto;
    margin: 0;
    max-width: 100%;
    vertical-align: middle;
}


#heading {
	font-size: 35px;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

#slide-container {
	position: absolute;
    top: 0;
	z-index: 1;
	width: 100%;
}

.featured-boxs {
	background: url("images/fbcback.png") repeat scroll 0 0 #CCCCCC;
    display: inline-block;
    margin: -20px -22px 0 -18px;
    overflow: hidden;
	line-height: 1.3em;
    text-shadow: none;
}

.featured-box  {
	background: url("images/fea-sep.png") repeat-y scroll 100% 50% transparent;
    border-bottom: 1px solid #FFFFFF;
    border-top: 2px solid #CCCCCC;
    display: inline;
    float: left;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 290px;
}

.featured-box .read-more {
	margin-left: 5px;
}

.featured-boxs img {
	cursor: pointer;
    height: 200px;
    margin: 0 auto;
    padding: 10px;
    width: 270px;
    -webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
	transition:all 1s;
}

.featured-boxs img:hover {
	-webkit-transform:scale(1.03);
	-moz-transform:scale(.99);
	-o-transform:scale(1.03);
	-ms-transform:scale(1.03);
	transform:scale(1.03);
	background:#00ACCF;
}

.featured-contents {
	margin: 10px -30px;
	line-height: 1.3em;	
}

.featured-contents, .featured-contents a, .featured-boxs, .featured-boxs a {
	color: #555555;
}

.fcontent-special {
	border-radius: 105px 105px 105px 105px;
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    max-width: 50px;
    padding: 3px 5px;
    position: absolute;
    right: 5px;
    text-shadow: 1px 1px 0 #000000;
    top: 10px;
}

.featured-content, .featured-contents #right-sidebar .widget {
	border-color: #FFFFFF #C9C9C9 #C9C9C9 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    float: left;
    margin: 10px;
    padding: 10px;
    position: relative;
    width: 294.6px;
	background: #eceded;
	overflow: hidden;
}

img.fcon-image {
	 width: 100%;
	 -moz-transition:all 1s;
	-o-transition:all 1s;
	-webkit-transition:all 1s;
	transition:all 1s;
}

img.fcon-image:hover {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: brightness(85%) grayscale(50%);
	
}

.featured-content p {
	margin-bottom: 5px;	
}

.featured-contents #right-sidebar {
	float: left;
    margin: -10px 0 0 12px;
    width: 294.6px;
}

.featured-contents #content {
	width: auto;
}

.featured-contents .attachment-fpage-thumb {
	float: left;
	padding-right: 10px;
}

.featured-contents .entrytext .read-more {
	float:right;
}

.featured-contents .post, .featured-contents .hentry, .featured-contents .no-results {
	background-color: #F9F9F9;
    border: 1px solid #FFFFFF;
    padding: 10px 10px 10px 20px;
    width: 630px;
}

.featured-content h2, #right-sidebar .widget h3 {
    padding: 0 10px 10px;
	margin: 0 -10px 10px;
	text-transform: uppercase;
	font-size: 17px;
	text-align: left;
	background:url("images/fc-sep.png") repeat-x scroll 0 100% transparent;
}

.featured-contents h2.fpagenews, .featured-box h2 {
    padding: 0 10px;
	text-transform: uppercase;
	font-size: 17px;
	text-shadow: 0 1px 0 #FFFFFF;
}

.featured-content h2 span, .featured-box h2 span,
h2.comments a,
.featured-contents h2.fpagenews span {
	color: #00ACCF;
}

#customers-comment {
	font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
	line-height: 2;
}

blockquote,  q  {
    background: #cee8f0;
    background: rgba(151,  218,  237,  0.35);
    border-left: 10px solid #00ADCF;
    margin: 20px 10px;
    padding: 10px;
    quotes: quotes:'<<' '>>';
    border-right: 10px solid #00ADCF;
}

blockquote:before,  q:before  {
    color: #00C7EF;
    content: '\201C';
    font-size: 4em;
    line-height: .1em;
    margin-right: .20em;
    vertical-align: -.4em;
}

blockquote:after,  q:after  {
    color: #00C7EF;
    content: '\201D';
    font-size: 4em;
    line-height: .1em;
    margin-left: .20em;
    vertical-align: -.4em;
}

blockquote p,  q p  {
    display: inline;
}

#container .thumb {
	background: url("images/thumb-back.jpg") no-repeat scroll 0 0 #CCCCCC;
    border: 10px solid #FFFFFF;
    height: 200px;
    width: 600px;
	-webkit-transition:all 1s;
	-moz-transition:all 2s;
	-o-transition:all 2s;
	-ms-transition:all 2s;
	transition:all 2s;
	margin: 0 0 20px;
}

#container #content-full .thumb {
	margin: 5px 10px 20px 0;
	float:left;
}

#container .sticky .thumb {
	width: 575px;	
}

#container .thumb:hover {
	
	border-color: #00ACCF;
}

#container .attachment-post-thumbnail {
   float: right;
}

h1.page-title, 
h1.arc-post-title {
	font-size: 35px;
    text-transform: uppercase;
	text-align: left;
}

h2.post-title, 
h2.comments, 
h3#reply-title, 
h2.post-title-color {
	font-size: 25px;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
}

h3.arc-src {
	text-transform: uppercase;
	font-size: 20px;
	color:#00ACCF;
}

h3.arc-src span {
	color:#555555;
}

.post, 
.hentry, 
.no-results {
	margin-bottom: 20px;
	
}

#page-nav a {
	font-size: 17px;
	font-weight: bold;
	padding: 5px 10px;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	margin: 0 15px;
	transition: all 2s;
}

#page-nav a:hover {
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	color: #555555;
}

.read-more {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	padding: 0 15px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
		
	transition:all 2s;
	-moz-transition:  all 2s;    /* FF3.7+ */  
	-o-transition: all 2s;      /* Opera 10.5 */ 
	-webkit-transition: all 2s; /* Saf3.2+, Chrome */ 	
}

.read-more:hover {
	
	background:#EEEEEE;
	color: #00ACCF;
	
}

.read-more:active {
	position:relative;
	top:1px;
	
}

.postmetadata {
	background:#06A8DD;
	background: rgba(37, 157, 213, .7);
	position: absolute;
	width: 200px;
	transition:all 2s;
	-moz-transition: all 2s;  
	-o-transition: all 2s;   
	-webkit-transition: all 2s;
	color: #EEEEEE;
	text-align:right;
	max-height: 200px;
	overflow:hidden;
	padding: 10px;
	font-size: 12px;
	font-family: 'Lato',Helvetica,sans-serif;
	text-shadow: none;
}

.postmetadata a {
	color: #000000;
}

.postmetadata:hover  {
	overflow:visible;
	width: 250px;
	max-height:2000px;
	z-index: 1000;
	background:#06A8DD;
}

.postmetadata h3,
.postmetadata h2,
.postmetadata h5,
.postmetadata h5 a {
	color:#EEEEEE;
	margin: 0;
}

.postmetadata h2 a {
	color:#FFFFFF;
}

.floatleft {
	float: left;
	width: 45%;
	text-align:left;
}

.floatright {
	float: right;
	width: 45%;
	text-align:right;
}

#page-nav .alignright {
	text-align:right;
}

#page-nav .alignleft {
	text-align:left;
}

/* .... Sign In ......
-------------------------------------------------- */

ul.lboxd {
	background: #AAAAAA;
	background: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
    float: right;
    margin: 5px 30px 0 0;
    padding: 3px 7px;
    text-shadow: 1px 0 0 #000000;
	color: #FFFFFF;
}

ul.lboxd a {
	color:#EEEEEE;	
}

ul.lboxd li {
	list-style:none;
	float: left;
	padding: 0 10px;
	border-right: 1px solid #CCCCCC;
	position: relative;		
}

ul.lboxd li:hover > ul {
	display: block;
}

ul.lboxd li ul {
	display: none;
	position: absolute;
	left: 0;
	z-index:100;
	border-radius: 10px;
	padding: 5px;
	width: 220px;
	background: #EEEEEE;
	transition: all 2s;
	-moz-transition:  all 2s;  
	-o-transition: all 2s;
	-webkit-transition: all 2s;
}

ul.lboxd li ul {
	display: none;
	position: absolute;
	left: 0;
	padding: 5px;
	width: 220px;
	background: #0EB0CD;
	background: rgba(14, 176, 205, .9);
    box-shadow: 0 0 5px 0 #000000;
	border-radius: 0 0 10px 10px;
	transition: all 2s;
	-moz-transition:  all 2s;  
	-o-transition: all 2s;
	-webkit-transition: all 2s;
}

ul.lboxd ul:hover {
	background: #0292CE;
}


ul.lboxd li ul li {
	border: none;
}

ul.lboxd input[type="password"],
ul.lboxd input[type="text"],
ul.lboxd input[type="submit"]
 {
    width: 180px;;
	display:block;
}


/*.... Comments ......
-------------------------------------------------- */

#commentsbox {
	background: #ffffff;
    border-top: 20px solid #DCDDDD;
    box-shadow: 0 1px 1px #A8A8A8;
    clear: both;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 20px 10px 5px 10px;
    position: relative;
} 

#commentsbox ol, 
#commentsbox ul {
    padding:0;
}

#commentsbox ol, 
#commentsbox ul {
    padding:0;
}

#commentsbox ol, 
#commentsbox ul,
#commentsbox li {
    list-style: none inside none;
}

#commentsbox .watermark {
	font-family: 'Lato',Helvetica,sans-serif;
    font-size: 17px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;	
}

#commentsbox .comment-author cite, 
#commentsbox .comment-author cite a {
    color: #555555;
    font-size: 17px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 3px;
	font-family: 'Lato',Helvetica,sans-serif;
}

#commentsbox .avatar {
	background: #EEEEEE;
    border-bottom: 2px solid #D3D6D6;
    float: left;
    font-size: 10px;
    height: 60px;
    left: -100px;
    padding: 10px;
    position: absolute;
    top: 0;
    transition: all 2s ease 0s;
	-moz-transition:  all 2s ease 0s;    
	-o-transition: all 2s ease 0s;    
	-webkit-transition: all 2s ease 0s; 
    width: 60px;   
}

#commentsbox .avatar:hover {
	background: #00ACCF;
}

#commentsbox ul.children {
	padding: 0;
}


.comment-body {
	background: #DDDDDD;
    border-right: 2px solid #06a8dd;
    padding: 15px;
    position: relative;
}

#commentsbox .comment-body ol li {
	list-style: decimal inside none;
	padding: 5px 0 5px 20px;
}

#commentsbox .comment-body ul  li{
	list-style: square inside none;
	padding: 5px 0 5px 20px;
}

#commentsbox .commentlist li.comment {
    line-height: 19px;
    margin: 0 0 24px;
    padding: 5px 0 0 50px;
    position: relative;
	padding:5px 0 0 100px;
}

#comments .comment-body p:last-child {
    margin-bottom: 6px;
}

#commentsbox .comment-meta {
    border-bottom: 1px solid #FFFFFF;
    font-size: 12px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-shadow: none;
}

a.comment-reply-link {
	font-size: 12px;
	padding: 1px 5px;
	border-radius: 5px;		

}

.commentlist > li.bypostauthor {
}

#commentsbox .commentlist .children li {
    margin: 0;
}

#commentsbox .commentlist li:last-child {
    border-bottom: medium none;
    margin-bottom: 0;
}

#comment-form {
	background:#DDDDDD;
    border: 1px solid #EEEEEE;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}

#respond .required {
	font-weight: bold;
	position:absolute;
}

#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}

#cancel-comment-reply-link {
	font-weight: normal;
	line-height: 18px;
}

#respond input {
	margin: 0 0 9px;
}

#respond textarea {
	width: 98%;
}

#respond .form-allowed-tags {
	font-size: 13px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}


/*..... Others 
-------------------------------------------------- */
h2#client-text.post-title {
    color: #00C7EF;
    opacity: 0.7;
    padding: 10px 0;
    text-align: center;
}

#client {
    display: table;
    display: block\9;
    margin: 10px auto 0;
}

#client img {
    margin: 0 13px 20px;
     max-height: 100px;
    vertical-align: middle;
    width: 100px;
}

#client li,  #client ul {
     list-style:  none;
     float:  left;
     margin:  0;
 }

#client ul li  {
     width: 126px;
 }

.simply-scroll  {
     height:  90px;
     margin-bottom:  1em;
     position:  relative;
     width:  900px;
 }

.simply-scroll-clip  {
     overflow:  hidden;
     position:  relative;
 }

.simply-scroll-btn-left  {
     background:  url("images/arrow_left.png") no-repeat scroll 0 0 transparent;
     bottom:  6px;
     left:  -25px;
 }

.simply-scroll-btn-right  {
     background:  url("images/arrow_right.png") no-repeat scroll 0 0 transparent;
     bottom:  6px;
     right:  -25px;
 }

.simply-scroll-btn  {
     cursor:  pointer;
     height:  71px;
     opacity:  0.1;
     position:  absolute;
     width:  21px;
     z-index:  3;
     -webkit-transition: all 1s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	-ms-transition: all 2s;
	transition: all 2s;
 }

.simply-scroll-btn:hover  {
     opacity:  0.7;
 }

#client-scroller  {
     margin:  0 auto;
 }

.fpage-quote  {
     background: #cee8f0;
      background:  rgba(151,  218,  237,  0.35);
     border-left:  10px solid #00ADCF;
     border-right:  10px solid #00ADCF;
     margin:  20px 10px;
     padding:  5px;
     text-align:  center;
}

.customers-comment ul  {
     list-style:  none;
     padding:  0;
     position:  relative;
     margin:  0;
 }

.customers-comment q,  .customers-comment a  {
     background:  transparent;
     font-size:  17px;
     margin:  0 auto;
     text-align:  center;
     vertical-align:  middle;
     border:  none;
     line-height:  2;
     padding:  0;
     color:  #555555;
     word-spacing:  1px;
     letter-spacing:  .2px;
}

.label-text h3 { 
	color: #FFFFFF;
    font-size: 40px;
    margin: -140px auto 70px;
    max-width: 950px;
    opacity: 0.7;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 5px #000000;
    text-transform: uppercase;
}

/* Text meant only for screen readers. */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; 	display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; 	text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }

/* =Media Print
-------------------------------------------------------------- */
@media print {

h1 {
	page-break-before:always;
}

h1,  h2,  h3,  h4,  h5,  h6 {
	page-break-after:avoid;
}

ul,  ol,  dl {
	page-break-before:avoid;
}
}


@media screen and (max-width: 990px) {
#slide-container { width: auto;  }
}