/*
Theme Name: Resortica Lite
Theme URI: https://codethemes.co/product/resortica-lite/
Author: Code Themes
Author URI: https://codethemes.co/
Description: Resortica Lite is a simple yet outlandish theme for resorts or hotels of any kind. The theme is abosolutely responsive which is built in bootstrap framework and embodies customizer API tool which makes it highly customizable. Bring Resortica Lite into play for free and experience straightforward functions and striking design. Resortica Lite is suitable for hotel, hospitality business, restaurant, eatery, cuisine, recipe, cafe, lodge, food joint and others with easily customizable home page. Demo - http://preview.themeforest.net/item/resortica-responsive-wordpress-theme-for-hotels-resorts/full_screen_preview/20226373?_ga=2.130461775.1158084183.1503633177-782439093.1496376444&ref=code_themes

Version: 1.4.4
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: resortica-lite
Tags: one-column, two-columns, right-sidebar, flexible-header, custom-background, custom-header, custom-logo, featured-images, footer-widgets, full-width-template, post-formats, sticky-post, rtl-language-support, theme-options, threaded-comments, food-and-drink, translation-ready, blog, entertainment

This theme, like WordPress, is licensed under the GPL.

*/

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
