.customize-partial-edit-shortcut button, .widget .customize-partial-edit-shortcut button {
	left: -20px;
	width: 20px;
	height: 20px;
	min-width: 20px;
	min-height: 20px;
	padding: 0px;
}

.customize-partial-edit-shortcut button svg {
	min-width: 16px;
	min-height: 16px;
	width: 16px;
	height: 16px;
}

.customize-partial-edit-shortcut.customize-partial-edit-shortcut-header_image {
	left: 3px;
}

.customize-partial-edit-shortcut.customize-partial-edit-shortcut-top_main_menu_hidden_field {
	left: 55px;
}

.customize-partial-edit-shortcut.customize-partial-edit-shortcut-back_to_top {
	top: -13px;
	left: 7px;
}


.customize-partial-edit-shortcut.customize-partial-edit-shortcut-sb_menu_onoff {
	top: -15px;
}

.customize-partial-edit-shortcut.customize-partial-edit-shortcut-left_footer_setting {
	right: 80px;
	top: -15px;
}

.customize-partial-edit-shortcut.customize-partial-edit-shortcut-center_footer_setting {
	right: 42px;
	top: -15px;
}

.customize-partial-edit-shortcut.customize-partial-edit-shortcut-right_footer_setting {
	left: 106px;
	top: -15px;
}

.customize-partial-edit-shortcut.customize-partial-edit-shortcut-sprofile_link_facebook {
	top: 24px;
}

.customize-partial-edit-shortcut.customize-partial-edit-shortcut-sprofile_link_facebook .customize-partial-edit-shortcut-button {
	left: 6px;
}
