/*
* The Index of file
* 
* 1:- Quick Common class - for quick and global class
* 2:- Header class - till above menu
* 3:- Menu Class - will not for mega menu
* 4:- Breadcrumb class
* 5:- Left / Main container class
* 6:- widget / right sidebar class
* 7:- Comment class
* 8:- Footer class
* 
*/

body.page-template-template-full-width-page-builder.elementor-page #maincontainer, body.page-template-template-landing-page.elementor-page #maincontainer {
  padding-left: 0px;
  padding-right: 0px;
}

body.page-template-template-full-width-page-builder.elementor-page #maincontainer div.container, body.page-template-template-landing-page.elementor-page #maincontainer div.container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

body{
  overflow-x: hidden;
  overflow-y: auto;
}

.overflowhide {
  overflow: hidden;
}

.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.entry-content iframe {
  max-width: 100%;
}

.clearboth
{
	clear:both;
}

a:focus {
  outline: unset !important;
}

.breadcrumb > li + li::before {
  content: "\f101" !important;
  font-family: fontawesome !important;
  color: #757575 !important;
}

/*
* Quick Common class
*/

.displaynon {
  display: none;
}

.mr0 {
    margin: 0
}

.mr5 {
    margin: 5px
}

.mr10 {
    margin: 10px
}

.mr15 {
    margin: 15px
}

.mr20 {
    margin: 20px
}

.mrt5 {
    margin-top: 5px
}

.mrt10 {
    margin-top: 10px
}

.mrt15 {
    margin-top: 15px
}

.mrt20 {
    margin-top: 20px
}

.mrr5 {
    margin-right: 5px
}

.mrr10 {
    margin-right: 10px
}

.mrr15 {
    margin-right: 15px
}

.mrr20 {
    margin-right: 20px
}

.mrb5 {
    margin-bottom: 5px
}

.mrb10 {
    margin-bottom: 10px
}

.mrb15 {
    margin-bottom: 15px
}

.mrb20 {
    margin-bottom: 20px
}

.mrl5 {
    margin-left: 5px
}

.mrl10 {
    margin-left: 10px
}

.mrl15 {
    margin-left: 15px
}

.mrl20 {
    margin-left: 20px
}

.pd0 {
    padding: 0
}

.pd5 {
    padding: 5px
}

.pd10 {
    padding: 10px
}

.pd15 {
    padding: 15px
}

.pd20 {
    padding: 20px
}

.pdt5 {
    padding-top: 5px
}

.pdt10 {
    padding-top: 10px
}

.pdt15 {
    padding-top: 15px
}

.pdt20 {
    padding-top: 20px
}

.pdr5 {
    padding-right: 5px
}

.pdr10 {
    padding-right: 10px
}

.pdr15 {
    padding-right: 15px
}

.pdr20 {
    padding-right: 20px
}

.pdb5 {
    padding-bottom: 5px
}

.pdb10 {
    padding-bottom: 10px
}

.pdb15 {
    padding-bottom: 15px
}

.pdb20 {
    padding-bottom: 20px
}

.pdl5 {
    padding-left: 5px
}

.pdl10 {
    padding-left: 10px
}

.pdl15 {
    padding-left: 15px
}

.pdl20 {
    padding-left: 20px
}

.fl {
    float: left
}

.fr {
    float: right
}

.alignl {
    text-align: left
}

.alignc {
    text-align: center
}

.alignr {
    text-align: right
}

.alignnone {
    margin: 5px 20px 20px 0
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

a img.alignleft,
a img.alignnone {
    margin: 5px 20px 20px 0
}

a img.alignleft {
    float: left
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* if browser width is greater than 768px, below rules will come in action. */
@media (min-width: 768px)
{
	.fl_right_header_spsl
	{
		float:right;
	}
}

/* Extra responsive */

/* top bar */
.spsl-fr-topbar-icons {
  float: right;
}

@media (max-width: 768px) {
  .spsl-fr-topbar-icons {
    float: none;
    text-align: center;
  }
  .spsl-topbar-left-cntr {
    text-align: center;
  }
}
/* top bar END */

.fr-spsl
{
	float: right;
}
.alignc-spsl
{
    text-align: center;
}

.alignr-spsl
{
    text-align: right;
}

/* if browser width is less than 990px, below rules will come in action. */
@media (max-width: 990px)
{
	.fr-spsl
	{
		float: left;
	}
	.alignc-spsl
	{
		text-align: left;
	}
	.alignr-spsl
	{
		text-align: left;
	}
}
/* Extra responsive END */

body a, .woocommerce .woocommerce-breadcrumb a, .woocommerce .star-rating span {
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
	transition: color 0.3s linear;
}

.masterbtn, .side-menu-menu-button, #back-to-top, .di_business_social_widget a, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .singletags a, .wpcf7-form .wpcf7-form-control.wpcf7-submit, .tagcloud a {
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}

.singletags a::before, .tagcloud a::before {
  -webkit-transition: border-right-color 0.3s linear;
  -moz-transition: border-right-color 0.3s linear;
	transition: border-right-color 0.3s linear;
}

.pager li > a, .pager li > a, .navigation.pagination .nav-links .page-numbers {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

/*
* Quick Common class END
*/

/*
* Header Class
*/


.bgtoph-icon-clr {
  border-radius: 1px;
  padding: 3px;
  border: 1px solid;
}

.iconouter a
{
	padding-left:5px;
}
  
.headerimg, .wp-custom-header img {
  height: auto;
  width: 100%;
}


.bgtoph, .headermain
{
	z-index:1001;
}

/*
.bgtoph, .headermain
{
  position:sticky;
}
*/

.custom-logo {
  height: auto;
}

/* search form top bar */
.scp-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.scp-search::before {
  top: 0;
  left: 0;
  border-right-width: 0;
  border-bottom-width: 0;
}

.scp-search::after {
  right: 0;
  bottom: 0;
  border-top-width: 0;
  border-left-width: 0;
}

.scp-btn--search-close {
  font-size: 2em;
  position: absolute;
  top: 5px;
  right: 102px;
  display: block;
}

.scp-search .scp-search__form {
  margin: 5em 0;
}

.scp-search .scp-search__input {
  font-family: inherit;
  font-size: 10vw;
  line-height: 1;
  display: inline-block;
  box-sizing: border-box;
  width: 75%;
  padding: 0.05em 0;
  border-bottom: 2px solid;
  background: transparent;
  border-radius: 0;
  -webkit-appearance: none;
  border-top: none;
  border-left: none;
  border-right: none;
}


.scp-search .scp-search__input:focus {
  outline: none;
}

.scp-search .scp-search__input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  opacity: 0.3;
  color: #060919;
}

.scp-search .scp-search__input::-moz-placeholder {
  opacity: 0.3;
  /* Mozilla Firefox 19+ */
  color: #060919;
}

.scp-search .scp-search__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: 0.3;
  color: #060919;
}

.scp-search .scp-search__input::-webkit-search-cancel-button,
.scp-search .scp-search__input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.scp-search .scp-search__input::-ms-clear {
  display: none;
}

.scp-search .scp-search__info {
  font-size: 90%;
  font-weight: bold;
  display: block;
  width: 75%;
  margin: 0 auto;
  padding: 0.85em 0;
  text-align: right;
}

.scp-search .display_if_usedas_widget {
  display: none;
}

/* Do not show when used as widget */
.scp-search__info {
  display: none;
}

.widget_search .scp-search__input {
  display: block;
  width: 63%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.widget_search .scp-search__input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}


/************************/
/* Transitions      */
/************************/

.scp-search--open {
  pointer-events: auto;
  opacity: 1;
}

/* Border */
.scp-search::before,
.scp-search::after {
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
}

.scp-search::before {
  transform: translate3d(-15px, -15px, 0);
}

.scp-search::after {
  transform: translate3d(15px, 15px, 0);
}

.scp-search--open::before,
.scp-search--open::after {
  transform: translate3d(0, 0, 0);
}

/* Close button */
.scp-btn--search-close {
  opacity: 0;
  transform: scale3d(0.8, 0.8, 1);
  transition: opacity 0.5s, transform 0.5s;
}

.scp-search--open .scp-btn--search-close {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

/* Search form with input and description */
.scp-search .scp-search__form {
  opacity: 0;
  transform: scale3d(0.8, 0.8, 1);
  transition: opacity 0.5s, transform 0.5s;
}

.scp-search--open .scp-search__form {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}


@media screen and (max-width:40em) {
  .scp-search .scp-search__form {
    margin: 5em 0 1em;
  }
  .scp-btn--search-close {
    font-size: 1.25em;
    top: 1.5em;
    right: 1.5em;
  }
  .scp-search .scp-search__info {
    text-align: left;
  }

}


/* Buttons */

.scp-btn {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
}

.scp-btn:focus {
  outline: none;
}

.scp-btn--search {
  font-size: 1.5em;
}

.scp-btn--hidden {
  pointer-events: none;
  opacity: 0;
}

/* search form top bar */

/*
* Header Class END
*/


/*
* Menu Class
*/

#navbarouter {
	z-index: 1001;
	width:100%;
}

.sticky_menu_top {
  position: fixed !important;
  top: 0 !important;
}

/* Rules for all case */
.navbarprimary .dropdown-submenu {
  position: relative;
}

.navbarprimary .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 99.78%;
  margin-top: -1px;
  margin-left: 0px;
}

.navbarprimary .dropdown-menu {
  border-radius: 0px;
  min-width: 189px;
  padding: 0px;
  background-color: unset;
}

.navbarprimary .small-menu-label {
  position: relative;
  top: 14px;
  left: 17px;
  font-size: 16px;
  display: none;
}

.navbarprimary .dropdown-menu li {
  border-bottom: 1px solid #E0E0E0;
}

.navbarprimary.navbar {
  margin-bottom: 0px;
}


/* nav transition all case */

.navbarprimary .dropdown-menu > li > a {
  transition: background-color 0.5s ease-in-out;
}

.navbarprimary ul.primary-menu > li a {
  transition: color 0.5s ease-out, background-color 0.5s ease-out;
}


/* If browser is greater than 768px */
@media (min-width: 768px) {

  .navbarprimary.navbar {
    border-radius: unset;
  }

  .navbarprimary .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
  }

  .navbarprimary .navbar-nav > li > ul.dropdown-menu {
    display: block;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: margin 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;
  }

  .navbarprimary .navbar-nav > li:hover > ul.dropdown-menu {
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
  }

  .navbarprimary .dropdown-submenu > .dropdown-menu {
    display: block;
    left: 92%;
    opacity: 0;
    visibility: hidden;
    transition: left 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;
  }

  .navbarprimary .dropdown-submenu:hover > .dropdown-menu {
    left: 99.50%;
    opacity: 1;
    visibility: visible;
  }

  .navbarprimary .dropdowntoggle {
    display: none;
  }

  .navbarprimary .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    margin-top: 7px;
    margin-right: -10px;
  }

  .navbarprimary ul li ul .caret.desktop {
    display: none;
  }

  .navbarprimary .dropdown-menu > li > a {
    padding: 6px 20px;
  }

  .navbarprimary .dropdown-menu {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .175);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .175);
  }

  .navbarprimary .dropdown-menu {
    border-bottom: 2px solid transparent;
  }


}

/* If browser is less than 767px */
@media (max-width: 767px) {

  .navbarprimary .small-menu-label {
    display: inline-block;
  }

  .navbarprimary .caret.desktop {
    display: none;
  }

  .navbarprimary .dropdowntoggle {
    position: absolute;
    right: 17px;
    top: 9px;
    background-color: #e6e6e6;
    padding: 0px 2px;
    outline: dotted 0.5px;
    cursor: pointer;
  }

  .navbarprimary-open > ul {
    display: block !important;
  }

  .navbarprimary .navbar-nav > li > .dropdown-menu {
    position: relative;
    float: none;
  }

  .navbarprimary .dropdown-submenu > .dropdown-menu {
    position: relative;
    left: 0;
    margin: 0;
    float: none;
    
  }

  .navbarprimary .dropdown-submenu:hover > .dropdown-menu {
    display: none;
  }

  .navbarprimary .dropdown-menu > li > a {
    padding: 6px 25px;
  }

  .navbarprimary .dropdown-menu > li.dropdown-submenu ul li a {
    padding: 6px 35px;
  }

  .navbarprimary .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0px;
  }

  .primary-menu.navbar-nav {
    margin: 0px -15px;
  }

}

/*
* Menu Class END
*/


/**
 *
 * Sidebar menu
 *
 */

/* Menu Open Button */
.side-menu-menu-button {
  border-radius: 2px;
  cursor: pointer;
  height: 35px;
  line-height: 31px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  text-align: center;
  text-decoration: none;
  width: 35px;
  z-index: 99999;
}

.side-menu-menu-button:hover {
  color: #ffffff;
}

/* Close Button */
.side-menu-close-button {
  width: 1em;
  height: 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 1em;
  font-size: 0.75em;
  border: none;
  background: transparent;
  color: transparent;
  cursor: pointer;
}

.side-menu-close-button::before,
.side-menu-close-button::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
}

.side-menu-close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.side-menu-close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Menu */
.side-menu-menu-wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999999;
  width: 280px;
  height: 100%;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  -webkit-transform: translate3d(-320px,0,0);
  transform: translate3d(-320px,0,0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.side-menu-menu, 
.side-menu-icon-list {
  height: 100%;
}

.side-menu-icon-list {
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.side-menu-icon-list a {
  display: block;
  padding: 0.8em;
  -webkit-transform: translate3d(0,500px,0);
  transform: translate3d(0,500px,0);
}

.side-menu-icon-list,
.side-menu-icon-list a {
  -webkit-transition: -webkit-transform 0s 0.4s;
  transition: transform 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.side-menu-menu-wrap ul {
  list-style-type: none;
  position: relative;
  right: 10px;
  top: 10px;
}

.side-menu-menu-wrap ul li {
  position: relative;
  left: 0px;
}

.side-menu-menu-wrap ul li:hover {
  left: 2px;
}

.side-menu-menu-wrap ul li a {
  padding: 10px 0px;
}

.side-menu-menu-wrap ul li a::before {
  content: "\f101";
  font-family: fontawesome;
  font-weight: bold;
  left: -4px;
  position: relative;
}


/* Shown menu */
.side-menu-show-menu .side-menu-menu-wrap {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.side-menu-show-menu .side-menu-icon-list,
.side-menu-show-menu .side-menu-icon-list a {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.side-menu-show-menu .side-menu-icon-list a {
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s;
}


/*
* breadcrumb class
*/

.breadcrumb {
    margin: 0 14px
}

/*
* breadcrumb class END
*/



/*
* Left / Main container class
*/

.left-content {
  min-height: 400px;
}

@media (min-width: 992px) {
  .layoutleftsidebar {
    float: right !important;
  }
}

figure .wp-caption-text {
    padding: 15px 0 1px
}

table {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}

table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

.gallery {
    margin-bottom: 1.6em;
}

.gallery-item {
    display: inline-block;
    padding: 1.79104477%;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  width: 12.50%;
}

.gallery-columns-9 .gallery-item {
  width: 11.11%;
}

.gallery-icon img {
    margin: 0 auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px
}

.wp-caption.alignleft,
.wp-caption.alignnone {
    margin: 5px 20px 20px 0
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px
}

.wp-caption img {
    border: 0;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto!important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

.gallery-caption {
  line-height: 1.5;
  text-align: center;
}

.sticky .entry-date {
    display: none
}

.bypostauthor>article .fn:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: Genericons;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    vertical-align: top
}


.content-third {
  padding: 10px;
}

.vc-content-third {
  padding: 0px 10px;
}

.left-content blockquote {
    background-color: #f5f5f5
}

.left-content ol li,
.left-content ul li {
    padding-bottom: 5px
}


.singletags a::before {
  border-bottom: 10px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid transparent;
  content: "";
  height: 0;
  left: -8px;
  position: absolute;
  top: 0;
  width: 0;
}

.singletags a::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 4px;
  left: -2px;
  position: absolute;
  top: 8px;
  width: 4px;
}


.singletags a {
  border-radius: 0 2px 2px 0;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.27273;
  margin: 2px 4px 2px 10px;
  padding: 3px 7px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-style: italic;
}


.left-content .pagelinks {
  padding-top: 20px;
}

.left-content .pagelinks .pagelinksa {
  border: 1px solid;
  border-radius: 6px;
  margin-left: 5px;
  padding: 4px 10px;
}

.pagercon .previous>a,
.pagercon .previous>span {
    float: right
}


.wp-caption {
    text-align: center
}

a,
a:active,
a:focus,
a:hover {
    text-decoration: none
}


.content-first .content-second h3.the-title {
  border-left: 3px solid;
  margin: 0;
  padding: 9px;
}

.left-content .postsloop, .left-content .single-posst {
  margin: 19px 0;
}

.left-content .single-posst .the-title, .left-content .postsloop .the-title, .woocommerce .left-content h1.page-title {
  margin: 0px;
}


.content-first .content-second h1.the-title {
  border-left: 3px solid;
  padding: 9px;
}


.select2-container .select2-choice > .select2-chosen {
  padding: 3px 0;
}

.masterbtn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}


.entry-meta .vcard.author, .entry-meta .categoryurl, .entry-meta .post-date.updated  {
  padding-right: 10px;
}


.entry-meta .authorurl::before {
  content: "\f007  ";
  font-family: fontawesome;
  font-size: 15px;
}

.entry-meta .categoryurl a:first-child::before {
  content: "\f00a  ";
  font-family: fontawesome;
  font-size: 15px;
}

.entry-meta .post-date.updated::before {
  content: "\f073  ";
  font-family: fontawesome;
  font-size: 15px;
}


.navigation.pagination {
  margin: 0 auto;
  display: table;
  padding: 10px 0px;
}

.navigation.pagination .nav-links .page-numbers {
  padding: 2px 17px 0px 17px;
  background-color: #F4F4F4;
  font-size: 19px;
  float: left;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
}

.navigation.pagination .nav-links .page-numbers:hover {
  background-color: #ffffff;
}

.navigation.pagination .nav-links .page-numbers:last-child {
  border-right: 1px solid;
}

.single-posst, .postsloop, .widget_sidebar_main {
  border: 1px solid transparent;
}

/*
* Left / Main container class END
*/


/*
* widget / right sidebar class
*/

.right-content {
  overflow: hidden;
}

.widget_sidebar_main .right-widget-title {
  border-left: 3px solid;
  padding: 9px;
  margin: 0px 0px 10px 0px;
}

.right-content .widget_sidebar_main {
  margin: 19px 0;
}

.right-content .widget_sidebar_main.widget_search form {
	padding-top: 10px;
}


.widget_sidebar_main.widget_recent_entries ul li,
.widget_sidebar_main.widget_archive ul li,
.widget_sidebar_main.widget_categories ul li,
.widget_sidebar_main.widget_meta ul li,
.widget_sidebar_main.widget_nav_menu ul li,
.widget_sidebar_main.widget_pages ul li,
.widget_sidebar_main.widget_product_categories ul li,
.widget_sidebar_main.widget_recent_comments ul li
{
  list-style-type: none;
  margin-bottom: 6px;
  margin-top: 6px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 9px;
}

.widget_sidebar_main.widget_recent_entries ul,
.widget_sidebar_main.widget_archive ul,
.widget_sidebar_main.widget_categories ul,
.widget_sidebar_main.widget_meta ul,
.widget_sidebar_main.widget_nav_menu ul,
.widget_sidebar_main.widget_pages ul,
.widget_sidebar_main.widget_product_categories ul,
.widget_sidebar_main.widget_recent_comments ul
{
  padding: 0 0 0 20px;
}

.widgets_footer.widget_recent_entries ul li,
.widgets_footer.widget_archive ul li,
.widgets_footer.widget_categories ul li,
.widgets_footer.widget_meta ul li,
.widgets_footer.widget_nav_menu ul li,
.widgets_footer.widget_pages ul li,
.widgets_footer.widget_product_categories ul li,
.widgets_footer.widget_recent_comments ul li
{
  list-style-type: none;
  margin-bottom: 7px;
  margin-top: 6px;
}

.widgets_footer.widget_recent_entries ul,
.widgets_footer.widget_archive ul,
.widgets_footer.widget_categories ul,
.widgets_footer.widget_meta ul,
.widgets_footer.widget_nav_menu ul,
.widgets_footer.widget_pages ul,
.widgets_footer.widget_product_categories ul,
.widgets_footer.widget_recent_comments ul
{
  padding: 0 0 0 5px;
}

.widget_sidebar_main.widget_recent_entries ul li:last-child,
.widget_sidebar_main.widget_archive ul li:last-child,
.widget_sidebar_main.widget_categories ul li:last-child,
.widget_sidebar_main.widget_meta ul li:last-child,
.widget_sidebar_main.widget_nav_menu ul li:last-child,
.widget_sidebar_main.widget_pages ul li:last-child,
.widget_sidebar_main.widget_product_categories ul li:last-child,
.widget_sidebar_main.widget_recent_comments ul li:last-child,
.widgets_footer.widget_recent_entries ul li:last-child,
.widgets_footer.widget_archive ul li:last-child,
.widgets_footer.widget_categories ul li:last-child,
.widgets_footer.widget_meta ul li:last-child,
.widgets_footer.widget_nav_menu ul li:last-child,
.widgets_footer.widget_pages ul li:last-child,
.widgets_footer.widget_product_categories ul li:last-child,
.widgets_footer.widget_recent_comments ul li:last-child
{
  border-bottom: none;
  padding-bottom: 0px
}

.widget_sidebar_main.widget_recent_entries ul li a::before,
.widget_sidebar_main.widget_archive ul li a::before,
.widget_sidebar_main.widget_categories ul li a::before,
.widget_sidebar_main.widget_meta ul li a::before,
.widget_sidebar_main.widget_nav_menu ul li a::before,
.widget_sidebar_main.widget_pages ul li a::before,
.widget_sidebar_main.widget_product_categories ul li a::before,
.widgets_footer.widget_recent_entries ul li a::before,
.widgets_footer.widget_archive ul li a::before,
.widgets_footer.widget_categories ul li a::before,
.widgets_footer.widget_meta ul li a::before,
.widgets_footer.widget_nav_menu ul li a::before,
.widgets_footer.widget_pages ul li a::before,
.widgets_footer.widget_product_categories ul li a::before
{
  content: "\f101";
  font-family: fontawesome;
  font-weight: bold;
  left: -4px;
  position: relative;
  font-size: 17px;
}

.widget_sidebar_main.widget_recent_comments ul li::before,
.widgets_footer.widget_recent_comments ul li::before
{
  content: "\f0e5";
  font-family: fontawesome;
  font-weight: bold;
  left: -4px;
  position: relative;
  font-size: 17px;
  margin-right: 2px;
}

.di_business_widget_recent_posts_thumb .postthumbmain {
  margin: 10px 5px 0px 10px;
}

.di_business_widget_recent_posts_thumb .postthumbmain .postthumbmain_img {
  float: left;
  margin-right: 10px;
}

.di_business_widget_recent_posts_thumb .postthumbmain .postthumbmain_img img.img-thumbnail {
  padding: 2px
}

.di_business_widget_recent_posts_thumb .postthumbmain .postthumbmain_cntnt p {
  margin: 0;
}

.di_business_widget_recent_posts_thumb .clearboth.bordrbrm {
  border-bottom: 1px solid #eaeaea;
  padding-top: 8px;
}

.di_business_widget_recent_posts_thumb .clearboth.bordrbrm:last-child {
  border-bottom: none;
  padding-top: 0px;
}


.right-content .widget_sidebar_main {
  padding-bottom: 10px;
}

.tagcloud a::before {
  border-bottom: 10px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid transparent;
  content: "";
  height: 0;
  left: -8px;
  position: absolute;
  top: 0;
  width: 0;
}

.tagcloud a::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 4px;
  left: -2px;
  position: absolute;
  top: 8px;
  width: 4px;
}


.tagcloud a {
  border-radius: 0 2px 2px 0;
  display: inline-block;
  font-size: 11px !important;
  font-weight: 700;
  line-height: 1.27273;
  margin: 5px 4px 2px 10px;
  padding: 3px 7px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.widget_sidebar_main.widget_categories select, .widget_sidebar_main.widget_archive select {
  padding: 10px 5px;
  width: 98%;
  margin: 0px 4px;
}

.widget_sidebar_main .textwidget, .widget_sidebar_main .tagcloud, .widget_sidebar_main #calendar_wrap {
  padding-left: 10px;
}

.widget_sidebar_main.widget_media_image img {
  margin: 0 auto;
}

.di_business_social_widget a {
  line-height: 41px;
  margin-left: 6px;
  padding: 8px 6px 6px;
}

.social_profile-icon-clr {
  font-size: 18px;
  padding: 3px;
}

.widget_sidebar_main.widget_recent_entries ul li span, .widgets_footer.widget_recent_entries ul li span {
  display: block;
  margin-left: 12px;
}


/*
* widget / right sidebar class END
*/


/*
* Comment class
*/

#commentcount {
  margin-top: 25px;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    width: 100%
}

#comments .depth-2, #comments .depth-3, #comments .depth-4, #comments .depth-5, #comments .depth-6, #comments .depth-7, #comments .depth-8, #comments .depth-9, #comments .depth-10 {
    margin-left: 35px
}

#comments .media-left .avatar {
  max-width: unset;
}

#comments p {
    margin: 0
}

#comments .comment, #comments .pingback {
  margin-top: 21px;
  padding: 10px;
}

#comments .alert {
    padding: 1px 5px
}

#comments .logged-in-as {
    font-size: 15px;
    padding-bottom: 10px
}

#comments .comment-notes {
    padding-bottom: 15px
}

.comment-reply-link::before {
  content: "\f064  ";
  font-family: fontawesome;
}

.comment-edit-link::before {
  content: "\f044  ";
  font-family: fontawesome;
}

.comment-edit-link {
  margin-left: 10px;
}

/*
* Comment class END
*/


/*
* Footer class
*/

.footer
{
  border-top:3px solid;
	position:relative;
	z-index:1001;
}


#back-to-top {
  border-radius: 2px;
  cursor: pointer;
  height: 35px;
  line-height: 31px;
  opacity: 0;
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-align: center;
  text-decoration: none;
  width: 35px;
  display: none;
  z-index:99999;
}

.back-to-top-show {
  display: block !important;
  opacity: 1 !important;
}

.footer select {
  color: #000000;
}

.widgets_footer select {
  padding: 10px 5px;
  width: 100%;
}


.widgets_footer, .widget_sidebar_main {
  overflow: hidden;
}



/*
* Footer class END
*/

/*
* Extra
*/


.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li {
  margin: 15px 0px !important;
}

.vccntnrflud {
  padding-left: 5px;
  padding-right: 5px;
}

/*
* Extra END
*/


/* default colors */

.bgtoph, .bgtoph-icon-clr {
  color: #ffffff;
}
.bgtoph-icon-clr {
  color: #ffffff;
}
.bgtoph-icon-clr {
  border-color: #ffffff;
}
.bgtoph {
  background-color: skyblue;
}
.bgtoph a {
  color: #ffffff;
}
.bgtoph a:hover {
  color: #ffffff;
}


.scp-search .scp-search__input, .scp-btn, .scp-search__info {
  color: skyblue;
}
.scp-search {
  background-color: rgba(0,0,0,0.75);
}



.widget_sidebar_main .right-widget-title {
  color: #ffffff;
}
.content-first .content-second h3.the-title {
  color: #ffffff;
}
.content-first .content-second h3.the-title a {
  color: #ffffff;
}
.content-first .content-second h1.the-title, .woocommerce .left-content h1.page-title {
  color: #ffffff;
}
.widget_sidebar_main .right-widget-title {
  background-color: skyblue;
}
.content-first .content-second h3.the-title {
  background-color: skyblue;
}
.content-first .content-second h1.the-title, .woocommerce .left-content h1.page-title {
  background-color: skyblue;
}
.widget_sidebar_main .right-widget-title {
  border-color: skyblue;
}
.content-first .content-second h3.the-title {
  border-color: skyblue;
}
.content-first .content-second h1.the-title, .woocommerce .left-content h1.page-title.woocommerce-products-header__title {
  border-color: skyblue;
}
.single-posst, .postsloop, .widget_sidebar_main {
  background-color: skyblue;
}
.single-posst, .postsloop, .widget_sidebar_main {
  border-color: skyblue;
}

.masterbtn {
  color: #ffffff;
}
.wpcf7-form .wpcf7-form-control.wpcf7-submit {
  color: #ffffff;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  color: #ffffff;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  color: #ffffff;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  color: #ffffff !important;
}
.tagcloud a {
  color: #ffffff !important;
}
.singletags a {
  color: #ffffff;
}
#back-to-top, .social_profile-icon-clr, .bbp-submit-wrapper .button {
  color: #ffffff;
}
.singletags a:hover {
  color: #ffffff;
}
.side-menu-menu-button {
  color: blue;
}
.masterbtn {
  background-color: blue;
}
.wpcf7-form .wpcf7-form-control.wpcf7-submit {
  background-color: blue;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background-color: blue;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: blue !important;
}
.tagcloud a {
  background-color: blue;
}
.tagcloud a::before {
  border-right-color: white;
}
.singletags a {
  background-color: blue;
}
.singletags a::before {
  border-right-color: blue;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  background-color: skyblue;
}
#back-to-top, .di_business_social_widget a, .bbp-submit-wrapper .button {
  background-color: skyblue;
}
.side-menu-menu-button {
  background-color: skyblue;
}
.masterbtn:hover {
  background-color: blue;
}
.wpcf7-form .wpcf7-form-control.wpcf7-submit:hover {
  background-color: #0b6e8b;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  background-color: #0b6e8b !important;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  background-color: #0b6e8b !important;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background-color: skyblue;
}
.tagcloud a:hover {
  background-color: skyblue;
}
.tagcloud a:hover::before {
  border-right-color: #0b6e8b;
}
.singletags a:hover {
  background-color: #0b6e8b;
}
.singletags a:hover::before {
  border-right-color: #0b6e8b;
}
#back-to-top:hover, .di_business_social_widget a:hover, .bbp-submit-wrapper .button:hover {
  background-color: #0b6e8b;
}
.side-menu-menu-button:hover {
  background-color: #0b6e8b;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default {
  background-color: skyblue;
}
.navbarprimary .dropdown-menu {
  border-bottom-color: skyblue;
}
.navbarprimary.navbar {
  border-color: skyblue;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li:hover > a {
  color: black;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li:hover > a {
  background-color: #1294ba;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #1294ba;
}
.dropdown-menu > li > a {
  color: #333333;
}
.navbarprimary .dropdown-submenu > a:after {
  border-left-color: #333333;
}
.dropdown-menu > li > a {
  background-color: skyblue;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #333333;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #333333;
}
.navbarprimary .dropdown-submenu:hover > a:after, .navbarprimary .active.dropdown-submenu > a:after {
  border-left-color: skyblue;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: skyblue;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: blue;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: blue;
}
.small-menu-label {
  color: #f3f3f3;
}
.navbarprimary .dropdowntoggle {
  color: #000000;
}

.breadcrumb {
  background-color: skyblue;
}

.headermain {
  background-color: skyblue;
}



#comments .comment.even {
  color: #000000;
}
#comments .pingback.even {
  color: #000000;
}
#comments .comment.even {
  background-color: rgba(160,206,78,0.07);
}
#comments .pingback.even {
  background-color: rgba(160,206,78,0.07);
}
#comments .comment.odd {
  color: #000000;
}
#comments .pingback.odd {
  color: #000000;
}
#comments .comment.odd {
  background-color: rgba(160,206,78,0.19);
}
#comments .pingback.odd {
  background-color: rgba(160,206,78,0.19);
}
.sticky {
  background-color: #f7f7f7 !important;
}



.side-menu-menu-wrap ul li a {
  color: #d5d5d5;
}
.side-menu-menu-wrap ul li a:hover, .side-menu-menu-wrap ul li.current_page_item a, .side-menu-menu-wrap ul li.current-menu-item a {
  color: #ffffff;
}
.side-menu-menu-wrap {
  background-color: rgba(0,0,0,0.66);
}
.side-menu-close-button::before, .side-menu-close-button::after {
  background-color: #ffffff;
}



.footer, .footer caption {
  color: #dddddd;
}
.footer {
  background-color: skyblue;
}
.footer {
  border-color: skyblue;
}
.footer .widgets_footer_title {
  color: #dddddd;
}
.footer a, .widgets_footer ul li::before {
  color: black;
}
.footer a:hover, .widgets_footer ul li:hover::before {
  color: white;
}



.footer-copyright {
  color: black;
}
.footer-copyright {
  background-color: skyblue;
}
.footer-copyright a {
  color: black;
}
.footer-copyright a:hover {
  color: white;
}

/* default colors END */


/*
* Third party plugins
*/

/* bbp */
#bbp_topic_status_select, #bbp_stick_topic_select, #bbp_anonymous_author, #bbp_anonymous_email, #bbp_anonymous_website, #bbp_topic_title, #bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content, #bbp_topic_tags {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  line-height: 1.42857;
  padding: 6px 12px;
  -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

#bbp_anonymous_author:focus, #bbp_anonymous_email:focus, #bbp_anonymous_website:focus, #bbp_topic_title:focus, #bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content:focus, #bbp_topic_tags:focus {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}

.bbp-submit-wrapper .button {
  padding: 6px 24px;
  font-size: 15px;
  border: 1px transparent;
  border-radius: 3px;
}


#subscription-toggle a {
  position: relative;
  left: 7px;
  top: 4px;
  float: right;
}

/* bbp END */

/* contact form 7 */

.wpcf7-form label {
  display: unset;
}

.wpcf7-form .wpcf7-form-control.wpcf7-text {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.wpcf7-form .wpcf7-form-control.wpcf7-text:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.wpcf7-form .wpcf7-form-control.wpcf7-number {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.wpcf7-form .wpcf7-form-control.wpcf7-number:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.wpcf7-form .wpcf7-form-control.wpcf7-date {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.wpcf7-form .wpcf7-form-control.wpcf7-date:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.wpcf7-form .wpcf7-form-control.wpcf7-textarea {
  display: block;
  width: 100%;
  height: auto;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.wpcf7-form .wpcf7-form-control.wpcf7-textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.wpcf7-form .wpcf7-form-control.wpcf7-submit {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}


/* contact form 7 END */

.g-recaptcha {
  padding: 10px 0px;
}

.aiosc-reply-meta img {
  display: none;
}

/*
* Third party plugins END
*/
